* {
    padding: 0;
    margin: 0;
}
button {
    font-family: "Poiret One", sans-serif;
    border: none;
    border-radius: 12px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(0.93);
}

button:active {
    transform: scale(0.96);
    filter:brightness(0.9);
}

body {
    font-family: "Pacifico", cursive;
    background-image: url('Ground055S_1K-JPG_Color.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
 h3 {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
 }
.name {
    font-size: 42px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    color: #1F0026;
    
}

.game-board {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    background-color: #04A1BF;
    border-radius: 32px;
    border: 4px solid #8B5A2B;
    padding: 16px;
    margin: 64px auto auto auto;
    width: 90%;
    height: 80%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.left-column {
    flex: 2;
}

.right-column {
    flex: 1;
}

.fishingBtn {
    padding: 12px 24px;
    font-size: 18px;
    width: 100%;
    font-weight: 700;
    background-color: #4FC978;
    border: 1px solid #2f2f2f;
}

.sellBtn {
    width: 100%;
    font-weight: 700;
    background-color: #e07449;
    border: 1px solid #2f2f2f;
}

.upgradeRodBtn {
    font-weight: 700;
    background-color: #816bcf;
    border: 1px solid #2f2f2f;
}

#result, #inventoryDisplay, #moneyDisplay, #rodDisplay {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#result {
    background-color: rgba(255, 255, 255, 0.9);
}


#inventoryDisplay {
    background-color: rgba(255, 255, 255, 0.7);
    
 }
#moneyDisplay {
    background-color: rgba(255, 255, 255, 0.5);
}
#rodDisplay {
    background-color: rgba(255, 255, 255, 0.3);
}
